/* .leaflet-geosearch-bar input{
  background-color: white;
  color: black;
}
.leaflet-geosearch-bar .results{
  color: black;
  
} */
.leaflet-geosearch-bar .results div {
  text-align: start;
}

/* .custom-search-input {
  position: absolute;
  z-index: 9999;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.leaflet-div-icon {
  border: none;
  background: none;
}
