/* .leaflet-geosearch-bar input{
  background-color: white;
  color: black;
}
.leaflet-geosearch-bar .results{
  color: black;
  
} */
.leaflet-geosearch-bar .results div {
  text-align: start;
}

.leaflet-div-icon {
  border: none;
  background: none;
}
