.add-modal {
  position: absolute;
  z-index: 9999;
  background-color: white;
  top: 30%;
  left: 30%;
  padding: 32px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}

.d-flex {
    display: flex;
    flex-wrap: nowrap;
}