.map-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.custom-search-input {
  position: absolute;
  z-index: 9999;
  left: 30%;
}

.leaflet-div-icon {
  border: none;
  background: none;
}

.country-form {
  left: 45%;
  top: 40%;
}